.Brand--image {
	height: 100%;
}
.navbar-brand {
	padding: 5px 15px;
	height: 60px;
}

.navbar{
	margin-bottom: 0;
}

.NormalMenu{
	li{
		border-right:solid $main-custom-color 2px
	}
}
.navbar-custom{
    box-shadow: black 0px 0px 10px 0px;
    z-index: 100;
    position: fixed;
    width: 100%;
    border:none;
	.navbar-nav{
		.active{
			a{
				color:#FFF;
				background-color: $main-custom-color;
				&:hover{
					color:#FFF;
					background-color: $main-custom-color;
				}
				&:focus{
					color:#FFF;
					background-color: $main-custom-color;
				}
			}
		}
		li{
			a{
				line-height: 30px;
				color:$main-custom-color;
				&:hover{
					color:#FFF;
					background-color: lighten($main-custom-color,5%);
				}
			}
		}
	}
}
@media (min-width: 768px){
	.SocialNetworks{
		margin-left: 3em;
	}
}
